extends layout

block content
  h1= title
  form
    div
      label 
        | username
      input(type="text", placeholder="please enter username")
    div
      label 
        | password
      input(type="text", placeholder="please enter password")
    div
      label 
        | age
      input(type="text", placeholder="please enter age")
    div
      label 
        | role
      input(type="text", placeholder="please enter role")
